@charset "utf-8";
/* CSS Document */

/*global*/
* {
  box-sizing: border-box;
}

body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
  height: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #f0f0f0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y:auto;
  padding-bottom: 20px;
}

.main-flex {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:flex-start;
  height:300px; 
}

.aboutmain-flex {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:flex-start;
  height:300px; 
  text-align: center;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  width: 60%;
}

.header-nav-container {
  width: 40%;
}

.blog-container {
  width: 60%;
}

.courses-container {
  width: 40%;
  padding: 30px;
}

.aboutimg-container {
  width: 50%;
  padding: 30px;
  text-align: center;
}

.about-container {
  width: 50%;
  padding: 30px;
}

.form-container {
  width: 100%;
}

.footerH-container {
  width: 50%;
  padding: 30px;
}

.footerL-container {
  width: 50%;
  padding: 30px;
}

p{
  line-height: 1.5;
}

.p2{
  font-size: 24px;
  display: inline;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
}

/*Utilities*/

:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: lightblue;
}

/* mouse over link */
a:hover {
  color: yellow;
}

/* selected link */
a:active {
  color: blue;
}

button {
  border: none;
  color: white;
  background-color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
  
}

.btn-brown {
  background-color: #966919;   
}

/*Header*/

.header-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.primary-header {
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
    height: 300px;
}

.contact-header {
  background-color: black;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  height: 80px;
}

.divOB {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.divDC {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.divCBen {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.divabout {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*form section*/

.formContainer{
    width: 60%;
    height: 45vh;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -20%);
    background-color: white;
    display: flex;
    flex-direction: column;
}

#myForm{
    width: 50%;
    margin: 1rem auto;
    background-color: white;
    margin-top: -100px;
}

.formDetails{
    margin: 1rem;
    padding-left: 1rem;
}

input{
    width: 95%;
    padding: .6rem 0;
    outline: none;
    font-size: 1rem;
}

textarea{
    width: 95%;
    padding: .6rem 0;
    outline: none;
    font-size: 1rem;
}

input:focus{
    outline: 1px solid #064247;
}

/*footer section*/

.footer-flex {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  text-align: center;
  background-color: black;
  height: 2.5rem;
}

.divfooter {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

footer {
  position: fixed;
  margin-top: auto;
  display: inline;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: white;
  background-color: black;
  text-wrap: nowrap;
}