@charset "utf-8";
/* CSS Document */

* {
    box-sizing: border-box;
}

body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #f0f0f0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y:auto;
}

.wrapper {
	height: auto;
	width: 60%;
	margin:auto;
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
}

.divCB {
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
    height: 300px;
}

.divOB {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: lightblue;
}

/* mouse over link */
a:hover {
  color: yellow;
}

/* selected link */
a:active {
  color: blue;
}

button {
    border: none;
    color: white;
    background-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}

footer {
text-align: center;
color: white;
background-color: black;
}